.sidebar-options{
    -fx-background-color: #f2f2f2;
}
.sidebar-options:hover{
    -fx-background-color: #D4D4F3;
    -fx-border-color: #D4D4F3;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-style: solid;
    
}
.bar-options{
    -fx-background-color: #ffffff;
}
.bar-options:hover{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-style: solid;
    
}